{{define "index"}}

<!DOCTYPE html>
<html>

<script>
    function convertFromISO8601ToDate(iso) {
        iso = iso.replace(/\D/g, " ");

        // trim any hanging white space
        iso = iso.replace(/\s+$/, "");

        // split on space
        let dtcomps = iso.split(" ");

        // not all ISO 8601 dates can convert, as is
        // unless month and date specified, invalid
        if (dtcomps.length < 3) return "invalid date";
        // if time not provided, set to zero
        if (dtcomps.length < 4) {
            dtcomps[3] = 0;
            dtcomps[4] = 0;
            dtcomps[5] = 0;
        }

        // modify month between 1 based ISO 8601 and zero based Date
        dtcomps[1]--;

        let convdt = new
        Date(Date.UTC(dtcomps[0], dtcomps[1], dtcomps[2], dtcomps[3], dtcomps[4], dtcomps[5]));

        return convdt.toUTCString();
    }

    function millisecToMinutes(time) {
        time = time / 1000;
        time = time / 60;
        return time
    }
</script>

{{template "header" .}}
<body>
{{template "nav_bar" .}}
<div class="content">
    <h1>Workschedule overview</h1>
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>
{{template "footer" .}}
</body>
</html>
{{end}}