{{define "nav_bar"}}
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Workschedule</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
        {{if eq .Authentication.LoggedIn false}}
            <li class="nav-item">
                <a class="nav-link" href="/signup">Register User</a>
            </li>
        {{end}}
        {{if and .Authentication.Admin .Authentication.LoggedIn}}
            <li class="nav-item">
                <a class="nav-link" href="/users">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/subjects">Subjects</a>
            </li>
        {{end}}
        </ul>
    {{if eq .Authentication.LoggedIn false}}
        <ul class="navbar-nav">
            <li>
            {{template "login" .}}
            </li>
        </ul>
    {{else}}
        <ul class="navbar-nav">
            <li>
                <form method="post" action="/logout">
                    <button type="submit" class="btn btn-primary">Logout</button>
                </form>
            </li>
        </ul>
    {{end}}
    </div>

</nav>
{{end}}